* {
    padding: 0%;
    margin: 0%;

}

html, body {
    background-color:whitesmoke
}


.text-center{
    background-color:white
}

.boton-clic {
    width: 250px;
    height: 80px;
    background-color: yellow;
}

.boton-reiniciar {
    width: 250px;
    height: 80px;
    background-color: darkgreen;
}